@import 'utils.css';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
    font-family: 'Poppins',sans-serif;
}
:root{
    --primary:#3DCFD3;
    --dark:black;
    --dark2:#323333;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
    --secondary:#606060;
}
html{
    scroll-behavior: smooth;
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 3px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: red;
}
header{
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
}
video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }
  .site-main-wrapper{
    position: relative;
}
@media (min-width:1024px){
    .mobile-nav{
        display: none;
    }
}

@media (max-width:1024px){
    header{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 90%, 0 100%);
    }
    header #main-nav{
        display: none;
    }
    
    .hero .left img{
        width: 280px;
    }
    .hero{
        padding-top: 10rem;
    }
    .hero .right h1{
        font-size: 2rem;
    }
    .hero .right h6{
        font-size: 1.4rem;
        padding-top: 40px;
    }
    .hero .right p{
        font-size: 1rem;
        line-height: normal;
    }
    .btn{
        margin-bottom: 30px;
        width: 120px;
        text-align: center;
        padding: 1rem 1rem;
    }
    section.about .about-me-img{
        width: 330px;
        height: 330px;
    }
    .container{
        padding: 0 8px;
    }
    section.skills .card-wrapper{
        grid-template-columns: repeat(2,1fr);
    }
    section.skills .card-wrapper .card img{
        width: 84px;
        height: 90px;
    }
    section.projects .card-wrapper{
        grid-template-columns: repeat(2,1fr);
    }
    footer{
        padding: 3rem 0;
    }
    footer .footer-socials{
        margin-right: 0;
    }
}
@media(max-width:576px){
    header{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 72% 92%, 0 100%);
    }
    .hero{
        padding: 1.6rem 0rem;
        flex-direction: column;
        padding-top: 2rem;
    }
    .about-inner-wrap{
        flex-direction: column;
    }
    section.skills .card-wrapper{
        grid-template-columns: repeat(1,1fr);
    }
    section.certifications .card-wrapper{
        grid-template-columns: repeat(1,1fr);
    }
    .hero .left img{
        width: 350px;
    }
    .hero .right{
        margin-top: -23rem;
    }
    .hero .right p{
        margin-bottom: 1rem;
        font-size: 1.1rem;
        font-weight: 800;
        background: #fffc00;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #ffffff, #fffc00);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #ffffff, #fffc00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-size: 100%;
        background-clip: border-box;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }
    .hero .right h6{
        font-size: 2rem;
        padding-top: 160px;
    }
    .hero .right h1{
        font-size: 2.2rem;
        font-weight: 600;
    }
    .hamburger{
        top: 20px;
        left: 20px;
    }
    .hamburger img{
        width: 20px;
    }
    .btn{
        width: 90px;
        height: 40px;
        padding: .5rem .5rem;
        margin-top: -10px;
    }
    .times img{
        width: 20px;
    }
    section{
        padding: 3rem 0;
    }
    .about .right{
        text-align: center;
    }
    section.about .about-me-img{
        height: 200px;
        width: 200px;
    }
    section.about p{
        font-size: 1.29rem;
        line-height: 1.6;
    }
    section.about .social{
        justify-content: center;
    }
    section.skills .card-wrapper .card img{
        width: 50px;
        height: 58px;
        top: -2.5rem;
    }
    section.skills .card-wrapper .card{
        padding: 1rem 1rem;
        padding-top: 1rem;
    }
    section.skills .card-wrapper{
        grid-row-gap: 4rem;
    }
    section.projects .card-wrapper .card{
        height: 148px;
    }
    .section-heading + p{
        margin-bottom: 6rem;
    }
    footer{
        padding: 2rem 0;
    }
    footer .copyright{
        font-size: .6rem;
    }
}